@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>
    @Model.Heading
</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div class="input-group searchGigs">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>

}
<ul id="gigs" class="gigs voffset4">

    @foreach (var gig in Model.UpcompingGigs)
    {
        <li>
            <div class="date">
                <div class="month"> @gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details","Gigs",new { id=gig.Id})">
                        @gig.Artist.Name
                    </a>
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning"> Canceled</span>
                    }
                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@gig.ArtistId" class="btn-default btn-sm pull-right js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">@gig.Genre.Name</span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {

                    <button data-gig-id="@gig.Id" class=" @(Model.Attendances.Contains(gig.Id)?"btn-info":"btn-default")  btn-sm pull-right js-toggle-attendance">Going</button>
                }
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            GigsCotroller.init("#gigs");
            GigDetailsController.init();
        });
    </script>
}